# Ctags #
#########
.tags
.tags_sorted_by_file

# Compiled Files #
##################
*.o
test_netprot_header
.dSYM

#OS Stuff #
###########
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.plist
